*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    min-width: 375px;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
}
.header{
    width: 100%;
    grid-row: 1/2;
    background-image: url(./imagenes/programer.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;
    height: 616px;
}


.header__h1{
    margin-top: 50%;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
@media(min-width:337px){
    .header__h1{
        margin-top: 25%;
    }
}
@media(min-width:769px){
    .header__h1{
        margin: 10% auto 0 auto;
    }
}
.header__p{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

@media(min-width:769px){
    .header__p{
        margin: 0;
    }
}
.presentacion{
    grid-row: 2/3;
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 538px;
}
@media(min-width:769px){
    .presentacion{
        display: grid;
        background-color: #fff;
        color: #000;
        grid-template-columns: 1fr 1fr;
    }
}
.presentacion__img{
    display: none;
}
@media(min-width:769px){
    .presentacion__img{
        display: inherit;
        width: 380px;
        height: 480px;
        grid-column: 1/2;
       margin-left: 40%;
       margin-top: 57px;
    }
}
.presentacion__h1{
    text-align: center;
    margin-top: 55px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
   
}
@media(min-width:769px){
    .presentacion__h1{
      text-align: start;
      margin-top: 124px;
      grid-column: 2/3;
      grid-row: 1/2;
    }
}

.presentacion__p{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 312px;
    margin:46px auto;
    
}
@media(min-width:769px){
    .presentacion__p{
      width: 610px;
      height: 50px;
      line-height: 36px;
      margin: 200px auto auto 0;
      grid-column:2/3 ;
    grid-row: 1/2;
    }
}
.servicios-contenedor{
    padding-bottom: 80px;
}

.footer{
    background-color: #2C2C2C;
    color: #fff;
    height: 498px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media(min-width:769px){
    .footer{
        height: 316px;
        flex-direction: row;
        justify-content: space-between;
    }
}
.footer__logo{
    width: 197px;
    height: 48px;
}
@media(min-width:769px){
    .footer__logo{
        width: 197px;
        height: 100px;
        margin-left: 80px;
        margin-top: 0;
    }
}
@media(min-width:769px){
    .footer__insta{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 102px 116px auto auto;
    }
    
}

.footer__p{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
