*{
    margin: 0;
    box-sizing: border-box;
}
.header{
    background: #000;
    color:#fff;
}
@media(min-width: 668px){
    .header{
        background: linear-gradient(#1D2B64, #f8cdda);
    height: 654px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    }
}
.header__h1{
    display: none;
    font-size: 48px;
    padding-left: 86px;
}
@media(min-width: 668px){
    .header__h1{
     
        display: initial;
    }
}
.portfolio__h2{
    margin-top: 70px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
}
.port-container{
    background-color: #000;
    color: #fff;
    overflow: hidden;
}
@media(min-width: 668px){
    
}
.portfolio__container{
    margin-top: 48px;
    padding-bottom: 80px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    gap: 100px;
}
@media(min-width:769px){
    .portfolio__container{
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 3%;
    }
}
.servicios{
    margin-right: 0 auto;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__img{
    width: 138px;
    height: 128px;
    
}
.card__h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}
.card__p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 262px;
    height: 115px;
    line-height: 24px;
    text-align: center;
}
.card__url{
    margin-top: 10px;
    color: #FC6F50;
}